.headerContainer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFF;
    box-shadow: 0.5px 2px 0 rgb(0 0 0 / 10%)
}

.navContainer > a {
    padding: 0px 24px;
}

.rightItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 42px;
    padding: 0px 0px 0px 140px;
}
