.vitrineContainer {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 16px 32px;
}

.container {
    align-items: center;
}

.vitrineContainer > li {
    background-color: #FFFFFF;
    box-shadow: 0px 9.73384px 14.6008px rgba(0, 0, 0, 0.1);
}